.Karate {display: block; ; width:100%; justify-content:center; margin: 0 -7px; border: 3px solid #ec3b83; padding:5px; background-color:rgba(248, 131, 121, 10%); height:auto; max-width: 100%; max-height:auto; }
header {font-family: georgia-bold, sans-serif; margin: 0; font-size: 2.1rem; color: rgb(155, 0, 255); text-align:center;  }
.description {font-size:1.2rem; margin:-5px 0 5px 0; color:rgb(155, 0, 255); font-family: comic-sans;}
.quality {display:flex; width:100%; height:70%; padding:5px 5px 30px 1px; }
ul { margin:0; border:3px solid rgba(255, 105, 180, 50%); padding: 5px 20px 5px 25px}
.row {display:flex; flex-direction:row; flex-wrap:wrap;}
.column-left {float: left; width:45%;}
.column-right {float: right; width: 45%;}
fieldset {border: 0;}
body {background-color:rgba(255, 105, 180, 30%);}
h1 {font-family:georgia; font-size: 2rem; color:rgb(155, 0, 255); }
li {font-size: 1rem; font-family: comic-sans; color:rgb(127, 0, 255); margin-left:15px; margin-right: 8px;}
.sub {font-size: 1rem; font-family:comic-sans; color: rgb(127, 0, 255); margin:-20px 0 2px 0; }
.qualities {font-size:1rem; margin: -2px 0 1px 0;  }
.gallery {display:flex; width:90%; height:70%; padding:5px 5px 25px 5px; }
.img-caption {text-align:center; color:rgb(127, 0, 255); font-family:comic-sans; font-size: 1rem; }
footer {text-align:center; margin: 20px;}
h2 {font-size: 1.2rem;}
